@model Post
@{
}

<div class="card">
    <div class="card-header">
        New Blog
    </div>
    <div class="card-body">
        <form id="createPost" method="post" action="CreatePost" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label for="title">Tiêu đề</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group mb-3">
                <label for="description">Mô tả</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="content">Chi tiết</label>
                <textarea class="form-control" id="content" name="content" rows="5"></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="formFile" class="form-label">Hình ảnh</label>
                <input class="form-control" type="file" name="imageUpload" id="formFile" accept="image/*">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Vị trí</label>
                @foreach (var item in ViewBag.Positions)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="p@(item)" name="position" value="@item">
                        <label class="form-check-label" for="pVietNam">@item</label>
                    </div>
                }
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Public</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isPublic" id="public" value="true">
                    <label class="form-check-label" for="public">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isPublic" id="public2" value="false">
                    <label class="form-check-label" for="public2">No</label>
                </div>
            </div>
            <div class="row mb-3">

                <div class="form-group col-md-6">
                    <label for="category">Loại</label>
                    @Html.DropDownListFor(m => m.Category, (SelectList)ViewBag.Categories, new { @class = "form-select", @id="category" })

                </div>
                <div class="form-group col-md-6">
                    <label for="publishDate">Ngày public</label>
                    <input type="date" class="form-control" id="publishDate" name="publishDate">
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <button form="createPost" type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-primary">Clear</button>
    </div>
</div>
