@{
}

<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="navbar-nav flex-column">
        <a class="nav-link text-dark" aria-current="page" href="/">
            <i class="bi bi-list-ul"></i>
            List
        </a>
        <a class="nav-link text-dark" href="/CreatePost">
            <i class="bi bi-file-earmark-plus"></i>
            New
        </a>
    </div>
</nav>

